<%
meta :title => "About Us",
:description => "This is the about page of Estia",
:keywords => %w(about estia team)
%>

<% provide(:title, 'About Us') %>

<div id="content">
	<div id="content-inside" class="inside">
		<div id="main">				   
			<div class="region region-content">
				<div id="block-system-main" class="block block-system">
					<div class="content">
						<div class="tabbable tabs-left"> <!-- Only required for left/right tabs -->
							<ul class="nav nav-tabs">
								<li class="active"><a href="#tab1" data-toggle="tab">About</a></li>
								<li><a href="#tab2" data-toggle="tab">Founding Team</a></li>
								<li><a href="#tab3" data-toggle="tab">How we are different</a></li>
								<li><a href="#tab4" data-toggle="tab">FAQs</a></li>
								<li><a href="#tab5" data-toggle="tab">Next Steps</a></li>
							</ul>
							<div class="tab-content">

								<div class="tab-pane active" id="tab1">
									<%= render "static_pages/partials/about/about"%>
								</div>

								<div class="tab-pane" id="tab2">
									<%= render "static_pages/partials/about/founders"%>
								</div>

								<div class="tab-pane" id="tab3">
									<%= render "static_pages/partials/about/different"%>
								</div>

								<div class="tab-pane" id="tab4">
									<%= render "static_pages/partials/about/faq"%>
								</div>

								<div class="tab-pane" id="tab5">
									<%= render "static_pages/partials/about/next_step"%>
								</div>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div><!-- EOF: #main --><!-- EOF: #sidebar -->
	</div><!-- EOF: #content-inside -->
</div><!-- EOF: #content -->
