<div id="myCarousel" class="carousel slide">

  <div class="carousel-inner">
    <div class="active item"><%= image_tag("Homepage1.jpg", alt: "SORRY >.<") %></div>
    <div class="item"><%= image_tag("Homepage2.jpg", alt: "SORRY >.<")%></div>
    <div class="item"><%= image_tag("Homepage3.jpg", alt: "SORRY >.<")%></div>
		<div class="item"><%= image_tag("villa3.jpg", alt: "SORRY >.<")%></div>
		<div class="item"><%= image_tag("Homepage4.jpg", alt: "SORRY >.<")%></div>
		<div class="item"><%= image_tag("Homepage5.jpg", alt: "SORRY >.<")%></div>
		
		
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<script type="text/javascript">
   $('.carousel').carousel({
	interval: 6000
});
</script>
