<div class="span4" style="padding-left: 20px;">

	<h3>List your Property</h3>

	<%= form_for :user, :url => {:controller => 'users', :action => 'create'} do |f| %>

	<%= f.label :first_name, "Address Line 1" %>
	<%= f.text_field :first_name %>

	<%= f.label :last_name, "Apartment Number" %>
	<%= f.text_field :last_name %>

	<%= f.label :email, "City" %>
	<%= f.text_field :email %>

	<%= f.label :password, "Zip Code" %>
	<%= f.password_field :password %>

	<div>
		<%= f.submit "List Property", class: "btn btn-warning"%>
	</div>
	<% end %>
	
</div>