<%= form_for @user, :html => { :multipart => true } do |f| %>
    <%= render 'layouts/error_messages', object: f.object %>

		<%= f.label :password %>
    <%= f.password_field :password %>
	
		<div class="form-actions">
			<%= f.submit "Change password", class: "btn btn-primary" %>
			<%= link_to "Cancel", user_path, class: "btn"%>
		</div>
<% end %>