<footer class="navbar">
	<div class="span8 center">	
		<ul class="nav">
			<li><%= link_to "About", about_path %> </li>
			<li><%= link_to "How It Works", how_it_works_path %> </li>
			<li><%= link_to "Support Us", support_path %> </li>
			<li><%= link_to "Jobs", jobs_path %> </li>
			<li><%= link_to "News", news_path %></li>
			<li><%= link_to "Contact Us", messages_path %></li>
		</ul>
	</div>
	<p id="Copyright">Copyright &copy 2013 Estia LLC. All rights reserved.</p>
</footer>
