<footer class="navbar navbar-static-bottom">
	<div class="nav row-fluid">
			<div class="span4"></div>
				<li><%= link_to "About", about_path %> </li>
				<li><%= link_to "How It Works", about_path %> </li>
				<li><%= link_to "Support Us", about_path %> </li>
				<li><%= link_to "Jobs", about_path %> </li>
				<li><a href="https://gothic1234.herokuapp.com">News</a> </li>
				<li><%= link_to "Contact Us", about_path %></li>
	</div>
	<div id="Copyright">Copyright &copy 2013 Estia LLC. All rights reserved.</div>
</footer>